.bubble {
    background-color: #e3e2e8;
    display: inline-block;
    margin: 0rem 0 .5rem 1rem;
    max-width: 450px;
    border-radius: 15px;
    padding: .5rem 1rem;
    font-size: 1.8rem;
    position: relative;
}

.bubble p {
    margin: 0;
}
