
.bubble {
    background-color: #e3e2e8;
    display: inline-block;
    margin: .5rem 0 .5rem 1rem;
    max-width: 75vw;
    border-radius: 15px;
    padding: .5rem 1rem;
    font-size: 1.3rem;
}

.bubble p {
    margin: 0;
}


